#nav-bar {
  position: fixed;
  height: 80px;
  left: 0;
  right: 0;
  top: 0;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em;
  z-index: 9999999;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header {
  margin-left: 10px;
  float: left;
  font-size: 2rem;
  line-height: 80px;
}

button#compose {
  height: 63px;
  font-size: 18px;
  color: #009F87;
  background-color: #E7FDFF;
  border: 1px solid black;
  border-radius: 7px;
  position: relative;
  float: right;
  top: 9px;
  right: 10px;
  outline: none;
}

button#compose:hover {
  height: 63px;
  font-size: 18px;
  color: #000;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 7px;
  position: relative;
  float: right;
  top: 9px;
  right: 10px;
}